// Styling for the portfolio section
#portfolio {
  .container-fluid {
    max-width: 1920px;
    .portfolio-box {
      position: relative;
      display: block;
      .portfolio-box-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        height: 100%;

        position: absolute;
        bottom: 0;

        text-align: center;
        opacity: 0;

        color: $white;
        background: fade-out($primary, .1);
        transition: opacity 0.25s ease;
        text-align: center;
        .project-category {
          font-family: $font-family-sans-serif;
          font-size: 0.85rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .project-name {
          font-size: 1.2rem;
        }
      }
      &:hover {
        .portfolio-box-caption {
          opacity: 1;
        }
      }
    }
  }
}

// About

.category {
  margin-bottom: 20px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-list li {
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #f5f5f5;
  border-radius: 20px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.skill-list li:hover {
  background-color: #d9d9d9;
}

.magenta {
  color: $magenta;
}

.dark-blue {
  color: $dark-blue;
}

.section-border {
	--b: .5em; /* border width */
	--c: 3em; /* corner size */
	--r: 2em; /* corner rounding */
	position: relative;
	margin: 1em auto;
	border: solid var(--b) transparent;
	padding: 1em;
	max-width: 23em;
	font: 1.25em ubuntu, sans-serif;
	
	&::before {
		position: absolute;
		z-index: -1;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(orange, deeppink, purple) border-box;
		--corner: 
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
						mask: var(--corner) subtract, var(--inner);
		content: ''
	}
}